* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header{
  width: 100%;
  background-color: #C5D43E;
  /*box-shadow: 1px 1px 5px #000;*/
  height: 104px;
  /*height: auto;*/
  overflow: hidden;
}
nav{
  width: 100%;
  text-align: center;
}
nav ul{
  /*border: 2px red solid;*/
  padding: 40px 70px;
}
nav ul .selector{
  /*border: 2px red solid;*/
  padding: 40px 70px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 18px;
  
}
nav ul .selector:hover{
  color: #fff;
  background-color: #312783;
}
#select{
  color: #fff;
  background-color: #312783;
}
.logo{
  width: 35%;
  /*margin-top: 3%;*/
  background-color: rgba(255,255,255, .5);
  height: 450px;
}

.op-menu{
  display: none;
}

.banner{
    height: 450px;
    background: url('../img/papeleria.jpg');
    background-size: cover;
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.articulos{
  width: 100%;
  overflow: hidden;
}
.image{
  /*border: 2px red solid;*/
  width: 80%;
  margin:0 auto;
  height: 200px;
  background: url('../img/herramientas.png');
  background-size: cover;
  background-position: center center;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.image2{
  /*border: 2px red solid;*/
  width: 80%;
  margin:0 auto;
  height: 200px;
  background: url('../img/focos.png');
  background-size: cover;
  background-position: center center;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.image3{
  /*border: 2px red solid;*/
  width: 80%;
  margin:0 auto;
  height: 200px;
  background: url('../img/mallas.png');
  background-size: cover;
  background-position: center center;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.image4{
  /*border: 2px red solid;*/
  width: 80%;
  margin:0 auto;
  height: 200px;
  background: url('../img/tornillos.png');
  background-size: cover;
  background-position: center center;
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.image5{
  /*border: 2px red solid;*/
  width: 80%;
  margin:0 auto;
  height: 200px;
  background: url('../img/carretilla.png');
  /*background-size: cover;*/
  /*background-position: center center;*/
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.image6{
  /*border: 2px red solid;*/
  width: 80%;
  margin:0 auto;
  height: 200px;
  background: url('../img/pinturas.png');
  background-size: cover;
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.articulos2{
  width: 100%;
  overflow: hidden;
  background-color: #EEEEEE;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-danger.btn-outline {
  font-family: 'Montserrat', sans-serif;
  color: #D43F3A;
}

.btn-danger.btn-outline:hover {
    color: #fff;
}
/*--------------FOOTER----------*/
footer{
  width: 100%;
    background:#C5D43E;
  font-family: 'Montserrat', sans-serif;
    height: 100px;
    overflow: hidden;
    clear: both;

}
footer p{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 2.5%;
    color: #000;
}
/*--------------ir arriba-----------*/

.ir-arriba {
  display:none;
  padding:20px;
  background:#000;
  font-size:20px;
  color:#fff;
  cursor:pointer;
  position: fixed;
  bottom:20px;
  right:20px;
}
/*------------------nosotros----------*/

/*.fondo{
   overflow: hidden;
   width: 100%;
   background-color: rgba(0,0,0, .6);
}*/
.bannern{
    height: 500px;
    background: url('../img/bannern.jpg');
    background-size: cover;
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    overflow: hidden;
}
.logo2{
  width: 35%;
  /*margin-top: 3%;*/
  background-color: rgba(255,255,255, .5);
  height: 500px;
}
.quienes{
  /*border: 2px red solid;*/
}
.quieness{
  /*border: 2px green solid;*/
  margin-top: 5%;
  margin-bottom: 5%;
}
.mvv{
  /*border: 2px red solid;*/
  background-color:  #f7f9f9;
  overflow: hidden;
}
.mvv2{
  /*border: 2px red solid;*/
  margin-top: 10%;
  margin-bottom: 10%;
  
}
.mision{
  /*border: 2px red solid;*/
  padding: 20px;
  height: 250px;
  margin-left: 5%;
  background-color: #ecf0f1;
}
/*-------------------servicios---------------*/
.banners{
    height: 500px;
    background: url('../img/bannern2.jpeg');
    background-size: cover;
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    overflow: hidden;
}
.logo3{
  width: 35%;
  /*margin-top: 3%;*/
  background-color: rgba(255,255,255, .7);
  height: 500px;
}
.cservicios{
  /*border: 2px red solid;*/
  padding: 100px 0px;
}

.cservicioss{
  /*border: 2px green solid;*/
}
.uno{
  border: 1px #EEEEEE solid;
  padding: 10px;
}
.uno:hover{
  background-color: #C5D43E;
  color: #000;
}
.images{
  /*border: 2px red solid;*/
  height: 270px;
  background: url('../img/papeleria2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.images2{
  /*border: 2px red solid;*/
  height: 270px;
  background: url('../img/oficina2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.images3{
  /*border: 2px red solid;*/
  height: 270px;
  background: url('../img/ferreteria2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.images4{
  /*border: 2px red solid;*/
  height: 270px;
  background: url('../img/tlapaleria.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.images5{
  /*border: 2px red solid;*/
  height: 270px;
  background: url('../img/equipo.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  overflow: hidden;
}
.images6{
  /*border: 2px red solid;*/
  height: 270px;
  background: url('../img/material.jpg');
  background-size: cover;
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
  overflow: hidden;
}
/*-----------------contacto-----------------*/
.bannerc{
    height: 500px;
    background: url('../img/contacto.jpg');
    background-size: cover;
    background-position: center center;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.logo4{
  width: 35%;
  /*margin-top: 3%;*/
  background-color: rgba(255,255,255, .7);
  height: 500px;
}
.contenmapa{
  /*border: 2px red solid;*/
  overflow: hidden;
  width: 100%;
  padding: 50px 0px;
  background-color: #F7F9F9;
}
.fila{
  margin-top: 5%;
  margin-bottom: 5%;
}
.contact-form{
  margin-top:15px;
}
.contact-form .textarea{
 min-height:220px;
resize:none;
}
.form-control{ 
  box-shadow:none; 
  border-color:#eee; 
  height:49px;
}
.form-control:focus{ 
  box-shadow:none; 
  order-color:#00b09c;
}
.form-control-feedback{ 
  line-height:50px;
}
.main-btn{ 
  background:#31708F; 
  border-color:#31708F; 
  color:#fff;
}
.main-btn:hover{ 
  background:#C5D43E;
  color:#fff;
}
.form-control-feedback {
line-height: 50px;
top: 0px;
}